# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# GLM
glm/

# CMake
*/CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake
*/Makefile

# Program output dumps
*/screenshot.bmp

# LaTeX files
*.aux
*.log
*.pdf
*.dvi
*.toc
*~
